.wrapper-doctors
    display: flex
    width: 100%
    justify-content: center
    background-image: url(/assets/hospital-wallpapers1.jpg)
    background-size: cover
    .wrapper-content
        display: flex
        flex-direction: column
        .doctor-container
            width: 1000px
            display: flex
            justify-content: space-between
            flex-wrap: wrap