<div class="doctor-card">
    <div class="doctor-header">
        <p>{{doctor.full_Name}}</p>
        <img src="/assets/close.svg" class="doctor-header-delete" (click)="openDialog()">
    </div>
    <div class="doctor-photo">
        <img src ="/assets/doctor.png">
    </div>
    <div class="doctor-position">
        <p>{{doctor.doctor_Position}}</p>
    </div>
    <div class="doctor-description">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur perferendis vitae</p>
    </div>
</div>