<div class="form-record">
    <div class="form-record-header">Sign up for an appointment with the doctor</div>
    <mat-form-field class="form-record-field">
        <input matInput placeholder="Input">
    </mat-form-field>
    <mat-form-field class="form-record-field">
        <mat-select placeholder="Select">
            <mat-option value="Doctor1">Doctor1</mat-option>
            <mat-option value="Doctor2">Doctor2</mat-option>
            <mat-option value="Doctor3">Doctor3</mat-option>
            <mat-option value="Doctor4">Doctor4</mat-option>
            <mat-option value="Doctor5">Doctor5</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-record-field">
        <input matInput [matDatepicker]="picker" placeholder="Input & change events"
            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)"
            [matDatepickerFilter]="myFilter">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="form-record-field">
        <button  mat-raised-button class="accept-button">Submit</button>
    </div>
</div>