<div class="form-record">
    <div class="form-record-header">Sign up for an appointment with the doctor</div>
    <mat-form-field class="form-record-field">
        <input matInput placeholder="Input your Full Name" [(ngModel)]="fullname">
    </mat-form-field>
    <mat-form-field class="form-record-field">
        <mat-select placeholder="Select Doctor" (selectionChange)="changeClient($event.value)">
            <mat-option  *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.full_Name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="ui calendar" id="example1">
        <div class="ui input left icon form-record-field">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Pick first date"  class="form-date">
        </div>
    </div>
    <div class="ui calendar" id="example2">
        <div class="ui input left icon form-record-field">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Pick second date" class="form-date">
        </div>
    </div>
    <div class="form-record-field">
        <button mat-raised-button class="accept-button" (click)="aaaa()">Submit</button>
    </div>
</div>